# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/

# Env
.env.local
.env.*.local

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl
terraform.auto.tfvars
infra/terraform/backend_bak.tf


# Node (future frontend)
node_modules/

# Experiments
experiments/assets/*
# !experiments/assets/.gitkeep
experiments/audio_lab/*
